$fonts: "Prompt";
$colors-red: #f10909;
$colors-yellow: #ffe21f;
$colors-graybg: #fbfbfb;
$colors-white: #fbfbfb;
$colors-graytext: #a7a7a7;
$colors-dark: #222;
$colors-boxgray: #e0e0e0;
$colors-boxborder: #eee;
$colors-star: #ffbb00;

@media only screen and (max-width: 360px) {
  .navbar-top {
    .navbartop-right {
      display: none;
    }
    .navbartop-left {
      margin-left: 0;
    }
  }
  .navbar {
    .nav {
      width: auto;
      display: block;
      .toggles {
        display: block;
        margin-right: 35px;
        margin-top: 25px;
        float: right;
      }
      .img-logo {
        width: auto;
        height: 100%;
        margin-left: 25px;
      }
      .dropdown {
        display: none;
      }
      .form-controls {
        display: none;
      }
      ul {
        display: block;
        margin-left: 0;
        margin-top: -1em;
        height: 0;
        margin-bottom: 0;
        display: none;
        background-color: $colors-yellow;
        li {
          margin-top: 5;
          padding: 10px;

          a {
          }
        }
      }
    }
  }
  #bg-hero {
    .img-bghero {
      width: 100%;
      height: 50vh;
      background-position: center;
      background-size: cover;
      filter: brightness(50%);
    }
    .name-hero {
      margin-top: -2em;
      font-size: 2em;
      position: relative;
      top: -280px;
      padding: 15px;
      text-align: center;
    }
  }
}
